:root {
    --project-height: 70px; /* Высота слота проекта */
    --project-border-width: 2px; /* Ширина границ с ОДНОЙ СТОРОНЫ */
    --project-padding: 10px; /* внутренние отступы в слоте проекта */
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    font-family: Open Sans;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #696969;
}
/* ======================== Центровщик ============================= */
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 4px solid red; */
}

main .container {
    display: flex;
}

/* ======================== Проекты ============================= */



.left-wrapper { /* Вся секция проектов */
    width: calc(1170px / 3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid; */
}

.left-wrapper h1 {
    color: #ffd866;
}

.project-list { /* Обертка проектов (слотов) */
    margin: 0;
    padding: 0;
    list-style: none;
}

.project { /* Весь слот контур,оболочка проекта */
    padding: var(--project-padding);
    height: var(--project-height);
    width: 300px;
    border: var(--project-border-width) solid;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #3b3640;
}

.project-name { /* Имя проеекта и переход на него */
    display: block;
    line-height:
        calc(
            var(--project-height)
            - var(--project-border-width) * 2
            - var(--project-padding) * 2
        );
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffd866;
    text-decoration: none;
}

.new-project { /* Кнопка добавления нового проекта */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #ffd866;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-size: 50px;
}

/* ======================== Фильтры ============================= */
.right-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 15px;
    /* border: 2px solid blue; */
}

/* ======== Поиск задач ========= */

.search-task {
    width: 700px;
    background: #3b3640;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    border: 2px solid #ffd52d;
    border-radius: 50px;
    color: #ffd52d;
    outline: none;
}

/* ========= Кнопки ========= */

  .filter-button {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 8px 0;
    -webkit-tap-highlight-color: transparent;
  }
  .filter-button:hover, .filter-button:focus-within {
    background: rgba(159, 159, 159, 0.1);
  }
  .filter-button input {
    background-color: #3b3640;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9F9F9F;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    pointer-events: none;
  }
  .filter-button input:focus {
    outline: none;
  }
  .filter-button input:checked {
    box-shadow: inset 0 0 0 6px #ffd866;
  }
  .filter-button span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
  }


/* ========= Чекбокс ========= */

.checkbox-input {
    display: none;
  }
  .checkbox-input:checked + label .checkbox:after {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .checkbox {
    border: 1px solid #ffd866;
    background-color: #3b3640;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
  }
  .checkbox:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: #ffd866;
    border-radius: 3px;
    transition: 0.3s;
  }

  .checkbox-text {
    position: relative;
    top: -2px;
  }

/* ================== */



/* ======================== Меню заданий ============================= */
.tasks-list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    flex-grow: 1;
    /* border: 2px solid peru; */
}

.task {
    display: flex;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    /* border: 2px solid green; */
    background-color: #3b3640;
    margin: 15px 0;
}

.left-task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    /* border: 2px solid #000; */
}

.status {
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    /* border: 1px solid #ffd52d; */
    border-radius: 50%;
}

.right-task-wrapper {
    width: 600px;
    height: 200px;
    /* border: 2px dashed blueviolet; */
}

.task-name {
    height: 100px;
    width: 600px;
    /* border: 2px dashed firebrick; */
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap'); */
.task-name p {
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Anton', sans-serif; */
    font-weight: 700;
    font-size: 33px;
    margin: 0;
    color: #ffd866;
    position: relative;
    top: 15px;
    left: 15px;
}

.task-data-file {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 600px;
    /* border: 2px dashed hotpink; */
}

.download {
    height: 50px;
    width: 50px;
}

.task-data-file p {
    color: #ffd866;
    font-size: 24px;
}